{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4PPRldnqlvGv987hA7rFvmzb05HU_3Xc3SQUS7kmMMat5mvR28w&s" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Airport</title>
    {% include 'base/js.html' %}
    {% include 'base/css.html' %}
    {% include 'base/bootstrap_defaults.html' %}
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark  sticky-top" style="background-color: rgba(0,0,0,0.8)" >
          <a class="navbar-brand" href="#"><img src="http://www.iconarchive.com/download/i107646/google/noto-emoji-travel-places/42586-airplane.ico" width="50px" alt=""></a></div></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-info-circle"></i> About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-code"></i> Developer</a>
              </li>

         



            </ul>

          </div>
        </nav>
        <!--navbar ends here-->


            <div class="content container">
               {% block content %}

               {% endblock %}
            </div>
        </div>
       

  </body>
</html>
